<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Product Detail'}) %>

<body class="productDetail">
    <div class="home-box">

        <%- include('partials/header') %>
        
    </div>

    <main class="productDetail__main">
        <section class="productDetail__main__section">
            <article class="productDetail__main__section__article">
                <div class="productDetail__main__section--main-container">
                    <div class="productDetail__main__section__article--box-img">
                        <div class="productDetail__main__section__article-container--image1">
                            <img src="/img/productDetail/zapaznegra4.webp" alt="" class="productDetail__main__section__article-img2">
                            <img src="/img/productDetail/zapasnegra3.webp" alt="" class="productDetail__main__section__article-img2">
                            <img src="/img/productDetail/zapasnegra2.webp" alt="" class="productDetail__main__section__article-img2">
                        </div>
                        <div class="productDetail__main__section__article-container--image2">
                            <img src="/images/zapanegra.webp" alt="" class="productDetail__main__section__article-img">
                        </div>
                    </div>
                    <div class="productDetail__main__section--data-container">
                        <div class="productDetail__main__section__article--datos-producto">
                            <h3><%= name %></h3>
                            <p><%= description %></p>
                            <h2>$<%= price %></h2>
                        </div>
                        <div class="productDetail__main__section__article--title-talles">
                            <p>Seleccionar talle (ARG)</p>
                            <div class="productDetail__main__section__article--select-talles">
                                <ul class="productDetail__main__section__article--select-talles-row">
                                    <li><a href="#">35</a></li>
                                    <li><a href="#">36</a></li>
                                    <li><a href="#">37</a></li>
                                    <li><a href="#">38</a></li>
                                    <li><a href="#">39</a></li>
                                </ul>
                                <ul class="productDetail__main__section__article--select-talles-row">
                                    <li><a href="#">40</a></li>
                                    <li><a href="#">41</a></li>
                                    <li><a href="#">42</a></li>
                                    <li><a href="#">43</a></li>
                                    <li><a href="#">44</a></li>
                                </ul>
                            </div>
                        </div>
                        <form action="" class="productDetail__main__section__article-buttons">
                            <button type="submit" class="productDetail__main__section__article--button">Comprar ahora</button>
                            <button type="submit" class="productDetail__main__section__article--button productDetail__main__section__article--button-add">Agregar al carrito de compra</button>
                        </form>
                    </div>
                </div>
                
                    <div class="productDetail__main__section__article-container1-description">
                        <div class="productDetail__main__section__article-description">
                            <h4>Descripcion del producto</h4>
                            <p>Pocas dudas pueden quedar al respecto al señalar que la aparicion de las innovadoras Air Vapormax de Nike Running han marcado un antes y un despues en el catalogo de zapatillas para correr de la firma norteamericana. El primer objetivo de las Nike Air Vapormax esta mas que cumplido al ofrecer una combinacion dificil de batir de capacidad amortiguadora y gran ligereza...<a href="#" class="productDetail__main__section__article-description-more">Ver más</a></p>
                        
                            <ul>
                                <li>Color : Negra pipa Blanca</li>
                                <li>Estilo : AQ9129-500</li>
                            </ul>
                        </div>
                        <div class="productDetail__main__section__article-container2-description">
                            <div class="productDetail__main__section__article-description-others">
                                <h4>Devoluciones y envios</h4>
                                <a href="#"><i class="fa-solid fa-chevron-down"></i></a>
                            </div>
                            <div class="productDetail__main__section__article-description-others">
                                <h4>Metodos de pago</h4>
                                <a href="#"><i class="fa-solid fa-chevron-down"></i></a>
                            </div>
                            <div class="productDetail__main__section__article-description-others">
                                <h4>Comparte</h4>
                                <a href="#"><i class="fa-solid fa-chevron-down"></i></a>
                            </div>
                        </div>
                    </div>
                
            </article>
            <article class="productDetail__main__section__article-recomendation">
                <div>
                    <h4>Tambien podria interesarte</h4>
                    <div>
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                        <h4></h4>
                        <img src="" alt="">
                    </div>
                </div>
            </article>
            <article class="productDetail__main__section__article2-adds">
                <div class="productDetail__main__section__article2-box-img">
                    <img src="/img/home-main/anuncio.png" alt="Add nike" class="nike-add">
                </div>
                <form action="" class="productDetail__main__section__article2-contact">
                    <input type="email" name="email" id="" placeholder="Ingresa tu email...">
                    <button type="submit"><i class="fa-solid fa-angle-right fa-xl"></i></button>
                </form>
            </article>
        </section>
    </main>

    <%- include('partials/footer') %>
    
    <!-- AOS -->
    <script>
        AOS.init();
    </script>

</body>
</html>