<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Admin' }) %>

    <body class="admin__home">
        <div class="home-box">

            <%- include('partials/header') %>

        </div>
        <h2 class="text-center">Resultados de la búsqueda: <%= keywords %></h2>
        
        
        <% if (products.length) { %>
            <% products.forEach(product => { %>
                <%- include('partials/productCard',{ 
                        ...product.dataValues,
                        toThousand 
                    }) %>
            <% }) %>
        <% }else{ %>
            <div class="col-12">
                <h2 class="products-title">No hay productos que coincidan con esa búsqueda</h2>
            </div>
            <% } %>
        
        <%- include('partials/footer') %>

            <!-- AOS -->
            <script>
                AOS.init();
            </script>


    </body>

</html>