<article class="productDetail__main__section__article">
    <div class="productDetail__main__section--main-container">
        <div class="productDetail__main__section__article--box-img">
            <div class="productDetail__main__section__article-container--image2">
                <img src="/images/products/<%= image || 'image-default.png'%>" alt="" class="productDetail__main__section__article-img">
            </div>
        </div>
        <div class="productDetail__main__section--data-container">
            <div class="productDetail__main__section__article--datos-producto">
                <h3><%= category.brand %></h3>
                <p><%= model %></p>
                <h2>$<%= price %></h2>
            </div>
            <div class="productDetail__main__section__article--title-talles">
                <p>Seleccionar talle (ARG)</p>
                <div class="productDetail__main__section__article--select-talles">
                    <ul class="productDetail__main__section__article--select-talles-row">
                        <li><a href="#">35</a></li>
                        <li><a href="#">36</a></li>
                        <li><a href="#">37</a></li>
                        <li><a href="#">38</a></li>
                        <li><a href="#">39</a></li>
                    </ul>
                    <ul class="productDetail__main__section__article--select-talles-row">
                        <li><a href="#">40</a></li>
                        <li><a href="#">41</a></li>
                        <li><a href="#">42</a></li>
                        <li><a href="#">43</a></li>
                        <li><a href="#">44</a></li>
                    </ul>
                </div>
            </div>
            <form action="" class="productDetail__main__section__article-buttons">
                <button type="submit" class="productDetail__main__section__article--button">Comprar
                    ahora</button>
                <button type="submit"
                    class="productDetail__main__section__article--button productDetail__main__section__article--button-add">Agregar
                    al carrito de compra</button>
            </form>
        </div>
    </div>

    <div class="productDetail__main__section__article-container1-description">
        <div class="productDetail__main__section__article-description ">
            <h4 >Descripcion del producto</h4>
            <p><%= description %>
            </p>

            <ul>
                <li>Color : sin especificar</li>
                <li>Estilo : AQ9129-500</li>
            </ul>
            <!-- ************************* -- ACCORDION -- ******************************** -->
                        
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Envíos y devoluciones
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Envíos a todo el país, excepto a las provincias de Misiones y Tierra del
                                Fuego.</strong> Entregas a domicilio o podes retirar en puntos
                            seleccionados. Devolución gratuita dentro de un plazo de 30 días. <a
                                href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Metodos de pago
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Contamos con 2 cuotas sin interés en todos los productos y exclusivas
                            promociones bancarias. Aceptamos Tarjetas de Crédito, Tarjetas de Débito y
                            Mercado Pago. <a href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button">
                            Comparte
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse">
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>
            </div>
             <!-- ************************* -- END ACCORDION -- ******************************** -->
        </div>
                     
    </div>

</article>